<section class="hero is-danger has-text-centered is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-weight-bold is-uppercase">
        Taiko Cordoba
      </h1>
      <h2 class="subtitle">
        Proximamente
      </h2>
      <span class="column icon is-large has-text-black" href="https://www.facebook.com/taikocordoba">
        <i class="fas fa-facebook"></i>
      </span>
      <a class="column icon is-large has-text-black" href="https://twitter.com/taikocordoba">
        <i class="fas fa-twitter"></i>
      </a>
      <a class="column icon is-large has-text-black" href="https://www.instagram.com/taikocordoba/">
        <i class="fas fa-instagram"></i>
      </a>
      <a class="column icon is-large has-text-black" href="t.me/taikocordoba">
        <i class="fas fa-telegram"></i>
      </a>
    </div>
  </div>
</section>


<router-outlet></router-outlet>
