<section class="hero is-danger has-text-centered is-fullheight">
  <div class="hero-body">
    <div class="container">
      <img src="./assets/logo.png" class="logo">
    </div>
  </div>

  <p>
    <a class="icon has-text-white" href="https://www.facebook.com/taikocordoba">
      <i class="fab fa-3x fa-facebook"></i>
    </a>
    <a class="icon has-text-white" href="https://twitter.com/taikocordoba">
      <i class="fab fa-3x fa-twitter"></i>
    </a>
    <a class="icon has-text-white" href="https://www.instagram.com/taikocordoba/">
      <i class="fab fa-3x fa-instagram"></i>
    </a>
    <a class="icon has-text-white" href="http://bit.ly/TaikoCordobaCV">
      <i class="fab fa-3x fa-address-card"></i>
    </a>
    <a class="icon has-text-white" href="https://www.youtube.com/channel/UCu44Sanxxvo3pCDjGCJtA9A">
      <i class="fab fa-3x fa-youtube"></i>
    </a>
  </p>
</section>

<router-outlet></router-outlet>